language: python
cache:
  directories:
  - eggs
  - downloads
python:
  - 2.7
dist: trusty
addons:
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable
matrix:
  fast_finish: true
install:
  - python bootstrap-buildout.py
  - bin/buildout -N buildout:download-cache=downloads -c travis.cfg
before_script:
  - wget "http://chromedriver.storage.googleapis.com/2.27/chromedriver_linux64.zip"
  - unzip chromedriver_linux64.zip
  - sudo mv chromedriver /usr/local/bin
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - sleep 3
script:
  - bin/code-analysis
  - bin/test --all
notifications:
  email:
    - info@kitconcept.com
